#chat {
  background: #978EF5;
  width: 25%;
  resize: horizontal;
  overflow:auto;
}

input#name_input {
  width: 50%;
  min-width:5%;
  margin: 2px;
}

input#connect_button {
  width: 25%;
  margin: 2px;
  min-width:5%;
}

input#message_input {
  width: 70%;
  margin: 2px;
  min-width:5%;
}

input#send_button {
  width: 20%;
  margin: 2px;
  min-width:5%;
}

#chat_box {
  background: #FFC2DA;
  width: 98%;
  height: 83%;
  margin: 1%;
  resize:auto;
  min-width:5%;
}

#page {
  padding-left:  5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #D8F58E;
}

iframe {
  height: 87%;
  width: 100%;
}

#toolbar {
}

table {
  position: absolute;
  width: 99%;
  height: 98%;
}

