#chat {
  background: #978EF5;
  width: 300px;
}

#chat #chat_box {
  background: #FFC2DA;
  width: 290px;
  height: 83%;
  margin: 2px;
  overflow: auto;
}

#page {
  padding-left:  5px;
  padding-right: 5px;
  background: #D8F58E;
}

iframe {
  height: 93%;
  width: 100%;
}

table {
  position: absolute;
}

