.markedBorder {
  border: 2px solid red;
}

#overlay {
  position: fixed;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 5%;
  background-color: #aa0000;
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
  z-index: 10000;
  padding-top: 2px;
}

#chatter {
  position: fixed;
  top: 25%;
  width: 20%;
  height: 50%;
  filter: alpha(opacity=1);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  z-index: 10000;
}

#chatbox {
  height: 100%;
  width: 95%;
  background-color: #aaaaaa;
  float: left;
}

#closer {
  height: 100%;
  width: 5%;
  background-color: #0000FF;
  float: left;
}

